# Shared env variables
LOG_LEVEL='INFO'
AUTO_RELOAD='True'
POSTGRES_HOST='transit_measurement_service_db'
POSTGRES_PORT='5432'
POSTGRES_DB='transit_measurement_db'
POSTGRES_USER='user'
POSTGRES_PASSWORD='admin'
REDIS_LOG_LEVEL='WARNING'
REDIS_HOST='transit_measurement_service_queue'
REDIS_PORT='6379'
REDIS_PASSWORD='admin'
AWS_REGION="us-east-1"
AWS_KEY_ID="AKIA334ONOFAIOR"
AWS_SECRET="YOURKEY123123"

# API Service env variables
SECRET_APP_KEY='833a2f8588ab22da2b7c701308dea317dfec9c8d32884aa631222c590db1176a'
TOKEN_EXPIRATION="100"
JWT_ALGORITHM="HS256"

# Video Service env variables
MODEL_NAME='yolov8n.pt'
